@charset "utf-8";

@import 'utils/variables';
@import 'utils/core';

body {
  margin-bottom: 2em;
  text-align: center;
}

header {
  background: $white;
  box-shadow: 0 0.15em 2em rgba($grey, 0.25);
  margin-bottom: 2em;
  padding: 1em;
}

demo {
  border: 3px solid $brand;
  display: block;
  margin: 2em auto;
  max-width: 800px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;

  > div {
    padding: 2em;
  }
}

a {
  padding: 0.5em 1em;

  + a {
    border-left: 1px solid $grey;
  }
}

svg {
  fill: currentColor;
}

.demo-svg1 {
  color: orangered;
}

.demo-svg2 {
  color: mediumseagreen;
}

.demo-svg3 {
  color: dodgerblue;
}
